#root{
    height: 98dvh;
    width: 99.3dvw;
    background-image: url("/src/assets/418495.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.Header{
    height: 300px;
    text-align: center;

}

.Header img{
    height: 300px;
    width: 800px;
    animation: pulsate 1.5s infinite;
}

.Header img:hover{
    animation: paused;
    cursor: pointer;
}

.gameArea{
    margin-top: 5rem;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameArea img{
    height: 120px;
    width: 120px;

    /*transform: rotateZ(0deg);*/
    /*transition: ease-out 0.4s ;*/
    animation: spin 1.5s infinite linear;
    cursor: pointer;
}

.gameArea img:hover{
    animation-play-state:paused;
}

.options{
    position: fixed;
    top:650px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.soundOptions{
    display: flex;
    margin: 0 1rem;
    width: 150px;
    justify-content: space-between;
}

.soundOptions img{
    width: 50px;
}


.achievements{
    display: flex;
    justify-content: space-around;
    width: 700px;
}

.achievements img{
    width: 120px;
    height: 120px;
}

.gameplayOptions{
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.gameplayOptions img{
    width: 50px;
    height: 50px;
}

.options{
    margin-top:7.5rem ;
}

.options button{
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    padding: 0;
    margin: 0;
    cursor: pointer;
}


.closeButton{
    margin-top: 10px;
    display: flex;

}

.closeButton img{
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: 5px;

    cursor: pointer;
}

.titleMark{
    position: fixed;
    display: grid;
    width: 200px;
    text-align: center;
    left:850px;
    top:160px;
    margin-bottom: 1rem;
    background: rgba(255,255,255,0.8);
    border-radius: 30px;
}

.titleMark img{
    width: 30px;
    height: 30px;
}

.situationImage{
    display: flex;
    justify-content: center;
}

.situationImage img{
    width: 200px;
    height: 200px;
}

.background{
    position: fixed;
    top:0;
    left:0;
    width: 101dvw;
    height: 100dvh;
    background: rgba(0,0,0,0.5);
    z-index: 10;
}

.howtoplay{
    position: fixed;
    width: 800px;
    height: 500px;
    background: rgba(255,255,255,0.8);
    top: 200px;
    left: 540px;

    z-index: 1000000;
    border-radius: 20px;
}
.howtoplayDescription{
    /*display: flex;*/
    justify-content: center;
    text-align: center;
}

.howtoplayDescription p{
    margin:0.5rem 1rem;
    word-break: inherit;
}

.leaderboards{
    border-radius: 30px;
    text-align: center;
    position: fixed;
    top:150px;
    left:600px;
    width: 700px;
    height: 650px;
    background: rgba(255,255,255,0.8);
    z-index: 1000000;
}

.leaderboard-table{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
table{
    margin-top: 10px;
    font-size: 1.3rem;
    /*border: 2px solid black;*/
}
table tr{
    border: 2px black solid;
    /*background: #bbb;*/
    border-radius: 30px ;
    width: 400px;
}
td{
    border: 2px black solid;
    width: 200px;
}
.leaderboard-table table tr td{
    justify-content: center;
    padding: 0 3rem;
}
.leaderboards-title{
    width: 400px;
    left:750px;
    top:100px;
    background: rgba(255,255,255,0.9);
}
.leaderboards-situation img{
    width: 200px;
}

@keyframes pulsate {
    0% {
        /*height: 300px;*/
        /*width: 800px;*/
        transform: scale(1);
    }
    50% {
        /*height: 310px;*/
        /*width: 826px;*/
        transform: scale(1.1);

    }
    100% {
        transform: scale(1);

    }
}

.chooseDifficulty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}
.difficultyButtons{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

.difficultyButtons button{
    cursor: pointer;
    width: 300px;
    height: 120px;
    background: red;
    box-shadow: whitesmoke 2px 2px 2px 2px;
}

.difficultyButtons button:hover {
    background: #cc0000;
}

button:active{
    cursor: inherit;
}

button:hover img{
    opacity: 60%;
}

.deck{
    height: 50%;
    display: flex;
    width: 100%;
    justify-content: center;
}

.card{
    /*background: rgba(211,211,211,0.8);*/
    width: 250px;
    /*border-radius:40px;*/
    background: rgba( 255, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    transition: 1s ease-in-out;
    cursor: pointer;

}

.none{
    display: none;
}

.card-front{
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flipped {
    transform: rotateY( 180deg );
}

.card-back {
    transition: transform 0.5s;
    transform: rotateY(180deg);
}




.card:hover{
    transform: scale(1.1);
    transition: ease-in-out .1s ;
}

.card img{
    width: 250px;
    height: 250px;
}
.cards{
    height: 80%;
    display: flex;
    width: 1400px;
    justify-content: space-around;
    text-align: center;
}
.score{
    text-align: center;
}
.score h3{
    top:100px;
    right:120px;
    position: fixed;
    font-size: 2.5rem;
}
.score img{
    width: 40px;

}

.gameWin{
    top:150px;
    left:540px;
    text-align: center;
    position: fixed;
    height: 550px;
    width: 800px;
    border-radius: 40px;
    background: rgba(255,255,255,0.8);
}

.gameWin img{
    width: 380px;
    height: 400px;
}

.gameWin input{
    width: 300px;
    margin-right: 1rem;
    height: 50px;
    font-size: 1.8rem;
}

.info{
    justify-content: center;
    align-items: center;

}

#gameOver{
    height: 300px;
    width: 400px;
}

.gameWin button{
    cursor: pointer;
    width: 120px;
    height: 50px;
    background: red;
    /*box-shadow: whitesmoke 2px 2px 2px 2px;*/
    font-size: 1.8rem;
    color:#fff;
}

.gameLose{
    top:150px;
    left:540px;
    text-align: center;
    position: fixed;
    height: 550px;
    width: 800px;
    border-radius: 40px;
    background: rgba(255,255,255,0.8);
}

.gameLose img{
    width: 550px;
    height: 400px;
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

